<%= stylesheet_link_tag "contact_request" %>

<section id="message-confirmation">
  <h4><%= @message[:first_name] %></h4>
  <div>Thanks, your message has been submitted successfully!</div>
  <div><%= @message[:first_name] %></div>
  <div><%= @message[:last_name] %></div>
  <div><%= @message[:email] %></div>
  <div><%= @message[:message] %></div>
</section>
