<%= stylesheet_link_tag "about_me" %>
<%= javascript_include_tag "about_me" %>

<section id="web-developer">
  <div id="who-am-i">
    <h4>web developer</h4>
    <p>with a focus on the front-end</p>
  </div>
  <div id="experience-logos">
    <%= javascript_pack_tag 'experience_icons_react' %>
  </div>
</section>
<section id="listed-experience">
  <div id="experience">
    <%= image_tag('brush.jpg', id: 'brush') %>
    <h4>&lt; experience /&gt;</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col offset-s3 s6 experience-types">
        <h5>Javascript</h5>
        <ul>
          <li>ES2017</li>
          <li>React</li>
          <li>Angularjs</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col offset-s3 s6 experience-types">
        <h5>CSS</h5>
        <ul>
          <li>Sass/Less</li>
          <li>Bootstrap</li>
          <li>Materialize</li>
          <li>Transitions/Keyframes</li>
        </ul>
      </div>
      <div class="col offset-s3 s6 experience-types">
        <h5>Server-side</h5>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
        </ul>
      </div>
      <div class="col offset-s3 s6 experience-types">
        <h5>Testing</h5>
        <ul>
          <li>RSpec</li>
          <li>Minitest</li>
          <li>Capybara</li>
          <li>Poltergeist</li>
        </ul>
      </div>
      <div class="col offset-s3 s6 experience-types">
        <h5>Continuous Integration</h5>
        <ul>
          <li>Travis CI</li>
          <li>Semaphore</li>
        </ul>
      </div>
      <div class="col offset-s3 s6 experience-types">
        <h5>CMS</h5>
        <ul>
          <li>Wordpress</li>
          <li>Drupal</li>
          <li>Four51</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="learning">
  <%= image_tag('lightbulb_smoke.jpg', id: 'lightbulb-smoke') %>
  <div id="motivations">
    <h4 id="keys">
        &#123;
        <span id="learn">learn,</span>
        <span id="explore">explore,</span>
        <span id="create">create</span>
        &#125;
    </h4>
    <p id="values"></p>
  </div>
</section>
<section id="exploring">
  <div id="curious">
    <%= image_tag('point_down.jpg', id: 'point-up') %>
    <h4>permanently curious</h4>
    <p>at the moment, I am exploring:</p>
    <div id="curious-logos">
      <%= javascript_pack_tag 'curious_icons_react' %>
    </div>
    <%= image_tag('point_down.jpg', id: 'point-down') %>
  </div>
</section>
