<!-- Want to work together? I probably do, too. Tell me about yourself, your project, or just drop me a line and say hello. -->

<section id="contact-me">
  <div class="row remove-margin">
    <div id="contact-info">
      <div id="contact-form" class="col s6">
        <h4>Get in touch</h4>
        <div>
          <i class="fa fa-phone" aria-hidden="true"></i> 919.559.2872
        </div>
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i> jbburnette2@gmail.com
        </div>

        <%= form_with scope: :contact_request,
                      url: contact_request_index_path,
                      local: true do |f| %>
          <%= f.text_field :first_name,
                           required: true,
                           class: 'input-field',
                           placeholder: 'First Name' %>
          <%= f.text_field :last_name,
                            required: true,
                            class: 'input-field',
                            placeholder: 'Last Name' %>
          <%= f.text_field :email,
                            required: true,
                            type: 'email',
                            class: 'validate input-field',
                            placeholder: 'Email' %>
          <%= f.text_area :message,
                          required: true,
                          class: 'materialize-textarea',
                          placeholder: 'Message' %>
          <%= button_tag( class: 'right btn purple darken-1 waves-effect waves-light') do %>
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
