<%= stylesheet_link_tag "contact" %>
<% title "Blake Burnette" %>
<section id="main-screen">
  <%= video_tag('exploding_color_2.mov',
                  controls: false,
                  muted: true,
                  autoplay: :autoplay,
                  loop: false,
                  controlsList: 'nodownload',
                  autobuffer: true,
                  id: 'home-screen-background') %>
  <div id="keywords">
    <div id="greeting">welcome <%= welcome_name(@name) %></div>
  </div>
  <div id="keywords-animation"></div>
</section>

<%= render partial: 'about_me' %>
<%= render partial: 'contact_me' %>
